
Plugins>CRG, "Annotation - Draw boxes", net.preibisch.ijannot.plugin.AnnotationApplicationV1
Plugins>CRG, "Annotation - Type cells", net.preibisch.ijannot.plugin.AnnotationApplicationV2
Plugins>CRG, "Generate training images", net.preibisch.ijannot.plugin.TrainingDataGeneratorApplication
Plugins>CRG, "Detect Cells from DAPI", net.preibisch.ijannot.plugin.DetectCellsApplication

